/* Seccion proyectos */
.biblioteca-titulo {
    display: flex;
    margin-top: 75px;
    justify-content: center;
    margin-bottom: 100px;
    background-color: crimson;
    padding: 10px;
}

.proyectos {
    display: flex;
    flex-direction: column;
    gap: 60px;
    justify-content: center;
    align-items: center;
}

.proyecto1,
.proyecto2,
.proyecto3 {
    width: 75%;
    text-align: justify;
    margin-left: 10px;
    h2 {
        margin-bottom: 30px;
        background-color: crimson;
        border: 2px white solid;
        margin-left: 5px;
    }
}
.proyecto1-imagen,
.proyecto2-imagen,
.proyecto3-imagen {
    width: 200px;
    margin-left: 30px;
    border: white 1px solid;
    float: left;
    margin-right: 10px;
    animation: fadeInLeft ;
    animation-duration: 1s;
}


/* Seccion responsive de proyectos */
@media (max-width: 600px){
    .biblioteca-titulo {
        margin-top: 100px;
    }
    .proyectos{
        align-items: center;
        h2{
            margin-left: 0px;
            padding: 5px;
        }
    }
    .proyecto1{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 0px;
        p{
            margin-top: 10px;
        }
    }
    .proyecto1-imagen{
        width: 55vw;
        margin: 0px;
        margin-bottom: 8px;
    }
    .proyecto2{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 0px;
        p{
            margin-top: 10px;
        }
    }
    .proyecto2-imagen{
        width: 55vw;
        margin: 0px;
        margin-bottom: 8px;
    }
    .proyecto3{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 0px;
        p{
            margin-top: 10px;
        }
    }
    .proyecto3-imagen{
        width: 55vw;
        margin: 0px;
        margin-bottom: 8px;
    }
}