  
  .testimonio {
    background-color: crimson;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px;
    width: calc(50% - 40px);
    img {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        border: 3px white solid;
        margin-right: 20px;
        margin-bottom: 10px;
        object-fit: cover;
        object-position: top;
        &:hover{
            animation: pulse; 
            animation-duration: 1s;
        }
        }
    h3 {
        font-size: 1.2em;
        margin: 0;
        }
    p {
        font-size: 1em;
        margin: 0;
        margin-top: 10px;
        background-color: rgba(12, 12, 12, 0.425);
        padding: 5px;
        }
    cite{
        background-color: rgb(218, 52, 85);
        padding: 5px;
        margin-top: 10px;
    }    
    }
    .claudia-img{
        object-position: top;
    }
    
    /* Responsive */
    
    @media only screen and (max-width: $breakpoint-mobile) {
    .testimonios {
    flex-flow: wrap column;
    justify-content: center;
    align-items: center;
    }
    
    .testimonio {
    width: 80%;
    margin: 20px 0;
    padding: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    }
    
    .testimonio img {
    display: block;
    }
    
    .testimonio p {
    margin-top: 20px;
    }
    }